#body{
	background-color: buttonshadow;
}

.table {
    margin-top: 10px;
/*     border: 2px solid black; */
    border-collapse: collapse;
    width: 100%;
    text-align: center;
}

.title {
/*     border: 1px solid black; */
/*     padding: 3px; */
    text-align: center;
}

.notify {
	color: white;
	background-color: red;
	border-radius: 50%;
	width: 22px;
    height: 22px;
    text-align: center;
}

.modal-header {
	background-color: #2b2b2b;
	color: white;
}

#titleA{
	color: white;
	font-style:oblique;
}

#ref{
	color: white;
}

#description{
	color: grey;
}

#row{
	background-color: grey;
}

.flex {
	max-width: 100%;
/* 	width: 850px; */
	border-radius: 10px 10px 10px 10px; 
	}
	
.container {
  width: 72px;
  height: 68px;
  position: relative;
/*   margin: 30px; */
}

.box {
/*   width: 100%; */
/*   height: 100%; */
  position: absolute;
  top: 0;
  right: 5px;
  opacity: 1;
/*   background: #0057e3; */
}

.overlay {
  z-index: 3;
/*   margin: 30px; */
  background: #009938;
}
