#body{
	background-color: buttonshadow;
}

.table {
    margin-top: 10px;
/*     border: 2px solid black; */
    border-collapse: collapse;
    width: 100%;
    text-align: center;
}

.title {
/*     border: 1px solid black; */
/*     padding: 3px; */
    text-align: center;
}

#titleA{
	color: white;
	font-style:oblique;
}

#ref{
	color: white;
}

#description{
	color: grey;
}

#row{
	background-color: grey;
}
